form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 2rem;
}

form h2 {
    margin-bottom: 2rem;
    text-align: center;
}

form label {
    margin-bottom: .5rem;
}

form input,
form select {
    margin-bottom: 1rem;
    padding: .5rem;
    outline: none;
}

form fieldset {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 2rem;
}

form button {
    margin-top: 1rem;
    cursor: pointer;
}


/* Select */
form .selectCountry {
    margin-bottom: 1rem;
}


/* Date */
form .dateTime .react-datetime-picker__inputGroup__input {
    padding: .5rem 2rem;
}



@media(max-width: 980px) {
    form {
        width: 90%;
    }
}